<body>
  <%- include("./header.ejs") %>

  <div class="report-container">
    <!-- Weekly Sales Report -->
    <div class="report-section">
      <h1>Weekly Sales Report</h1>
      <div>
        <h3>Total Order Number</h3>
        <h4><%= weekly_sale.total_orders %></h4>
      </div>
      <div>
        <h3>Total Sale Amount</h3>
        <h4>$ <%= weekly_sale.total_amount %></h4>
      </div>
      <div>
        <h3>Total Profit</h3>
        <h4>$ <%= weekly_sale.total_profit %></h4>
      </div>
    </div>

    <!-- Monthly Sales Report -->
    <div class="report-section">
      <h1>Monthly Sales Report</h1>
      <div>
        <h3>Total Order Number</h3>
        <h4><%= monthly_sale.total_orders %></h4>
      </div>
      <div>
        <h3>Total Sale Amount</h3>
        <h4>$ <%= monthly_sale.total_amount %></h4>
      </div>
      <div>
        <h3>Total Profit</h3>
        <h4>$ <%= monthly_sale.total_profit %></h4>
      </div>
  </div>
</body>
