<%- include("./header") %>
<body>
  <div class="home-container">
    <!-- Weekly Sales Report -->
    <div class="home-section">
      <h1>Weekly Sales Report</h1>
      <div class="home-content">
        <h3>Total Order Number</h3>
        <h4><%= weekly_sale.total_orders %></h4>
      </div>
      <div class="home-content">
          <h3>Total Sale Amount</h3>
          <h4>$ <%= weekly_sale.total_amount %></h4>
      </div>
      <div class="home-content">
          <h3>Total Profit</h3>
          <h4>$ <%= weekly_sale.total_profit %></h4>
      </div>
    </div>

    <!-- Monthly Sales Report -->
    <div class="home-section">
      <h1>Monthly Sales Report</h1>
      <div class="home-content">
        <h3>Total Order Number</h3>
        <h4><%= weekly_sale.total_orders %></h4>
      </div>
      <div class="home-content">
          <h3>Total Sale Amount</h3>
          <h4>$ <%= weekly_sale.total_amount %></h4>
      </div>
      <div class="home-content">
          <h3>Total Profit</h3>
          <h4>$ <%= weekly_sale.total_profit %></h4>
      </div>
  </div>
</body>
